# Wrangler (Cloudflare CLI)
#   Files includes secrets
.wrangler/

# Configstore
#   Some tools use configstore to store configurations.
#   https://www.npmjs.com/package/configstore
/configstore/*

# Fish shell
#   I don't use fish.
#   Ignore fish files created by Kiro CLI
/fish/*

# Google Cloud SDK
#   Configurations, logs, and a lot of python files
/gcloud/*

# GitHub CLI
/gh/*
!/gh/config.yml

# Git
#   Ignore configuration including user name and email.
/git/user

# Karabiner Elements
#   Only keep the configuration file.
/karabiner/*
!/karabiner/karabiner.json

# Raycast
#   Ignore internal sources
/raycast/ai/*
/raycast/extensions/*

# Zed editor
#   Ignore this until I use it daily.
/zed/*

# Zsh
#   Ignore history, completion, and session files.
/zsh/.zsh_history
/zsh/.zcompdump
/zsh/.zsh_sessions
/sheldon/plugins/*.local.zsh
