# Wrangler (Cloudflare CLI)
#   Files includes secrets
.wrangler/

# configstore
#   Some tools use configstore to store configurations.
#   https://www.npmjs.com/package/configstore
/configstore/*

# fish
#   Ignore fish files created by Amazon Q
/fish/*

# gcloud
#   Configurations, logs, and a lot of python files
/gcloud/*

# gh
/gh/*
!/gh/config.yml

# git
/git/user

# karabiner
/karabiner/*
!/karabiner/karabiner.json

# raycast
/raycast/*

# zsh
/zsh/.zsh_history
/zsh/.zcompdump
/zsh/.zsh_sessions
