# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[templates]
defer = "{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}"

[plugins]

[plugins.zsh-defer]
github = "romkatv/zsh-defer"
apply = ["source"]

# zsh-syntax-highlighting must be sourced before zsh-history-substring-search
[plugins.syntax-highlighting]
github = "zdharma/fast-syntax-highlighting"

[plugins.zsh-history-substring-search]
apply = ["source"]
github = "zsh-users/zsh-history-substring-search"

[plugins.zsh-history-substring-search-bindkeys]
inline = """
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down
"""

[plugins.local-plugins]
local = "~/.config/sheldon/plugins"
apply = ["source"]

[plugins.starship]
inline = """
if [ "${COPILOT_SESSION:-}" != "1" ]; then
  eval "$(${HOMEBREW_PREFIX}/bin/starship init zsh)"
else
  PROMPT='%1~ %# '
fi
"""

[plugins.mise]
inline = 'eval "$(${HOMEBREW_PREFIX}/bin/mise activate zsh)"'
